.admin-content {
  padding: 32px;
  transition: margin-left 0.3s ease;
}

/* menú abierto */
.admin-content.menu-open {
  margin-left: 240px;
}

/* menú cerrado */
.admin-content.menu-closed {
  margin-left: 0;
}

/* móvil */
@media (max-width: 1024px) {
  .admin-content.menu-open {
    margin-left: 0;
  }
}
