/* src/components/layout/PublicFooter.css */
.public-footer {
  background: #000;
  color: #fff;
  padding: 18px 0;
  margin-top: 250px;
}

.public-footer .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
